.list{ display:flex; flex-direction:column; gap:0; padding-bottom:8px; padding-left:8px; padding-right:8px; }
.item{
  width:100%; text-align:left; background:#fff; border:none;
  border-bottom:1px solid #F3F4F6;
  border-radius:0; padding:16px 8px; display:flex; align-items:center; justify-content:space-between;
  font-size:16px; font-weight:400; color:#404040;
  line-height:1;
}
.item:hover{ background:#FAFAFF; }
.active{ border-bottom-color: #F3F4F6; }
.check{
  width:20px;
  height:20px;
  display:flex;
  align-items:center;
  justify-content:center;
}
.checkInactive {
  stroke: #EDEDED;
  stroke-width: 2px;
}
.checkActive {
  stroke: #404040;
  stroke-width: 2px;
}
.chev{ display:none; }
